.button{
    background: linear-gradient(to right bottom,#720e2b,#605053,#720e2b);
    border: none;
	border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-size: 20px;
	box-shadow: 0 0 20px 10px #6f2b38;
}

.button:hover{
	
	background:#605053;
}

a{
	
	position:relative;
	left:20cm;
	top: 3.5cm;
	font-family: Brush Script MT, Brush Script Std, cursive;
	
}


h1{
	
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 50px;
	color: #482060;
	text-align:center;
	
}

body{
	
	background: linear-gradient(to bottom, #008000, #2d7121, #3c6232, #44533f, #49444b, #4a3356, #482060);
	
}
