*{
	
	font-family: 'Oswald', sans-serif;
	background-color: #FFC0CB;
}
div{
	
	margin: 0 auto;
	background-color: #FF1493;
	text-align:center;
	width:200vh;
}
button{
	
	margin-bottom: 3vh;
	height:15vh;
	width: 20vh;
	background-color: #C71585;
	border-radius: 30%;
	
}