*{
    margin: 0px;
}

.naglowek{
    font-size: 20px;
    background-color: #F652A0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    
}

.menu{
    height: 550px;
    width: 35%;
    background-color: #36EEE0;
    float: right;
}

.zdjecie{
    height: 550px;
    width: 65%;
    float: left;
    background-color:#FFFBFF ;
    display: flex;
    justify-content: center;
}

img{
    height: 50%;
    margin: 25% 0 25% 0;
}



.stopka{
    height: 60px;
    width: 100%;
    background-color: #F652A0;
    text-align: right;
    line-height: 60px;
    float: left;
}

p{
    margin-right: 10px;
}

ul{
    font-size: large;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    color: #BCECE0;
}


.przycisk{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px outset #362417;
    background-color: #4C5270;
    height: 10%;
    margin: 15% 15% 0 15%;
}
