div{
    height: 100px;
    width: 100px;
    background-color: cyan;
    position: relative;
    top:150px;
    left:390px;

}
input{

    position: relative;
    top: 100px;
    left: 300px;
    margin: 5px;
    border-radius: 10%;
    border: 0;
}
.pow{
    position: relative;
    top: 200px;
    left: 340px;
    background-color: cyan;
}
.zi{
    color: lime;
    background-color: green;
}
.nb{
    background-color: blue;
    color: aqua;
}
.cz{
    background-color: red;
    color: darkred;
}
.zol{
    background-color: yellow;
    color: darkgoldenrod;
}