*{
	
	font-family: 'Oswald', sans-serif;
	background-color: #98FB98;
}
div{
	
	margin: 0 auto;
	background-color: #00FA9A;
	text-align:center;
	width:200vh;
	height:150vh;
	vertical-align: middle;
}
img{
	
	margin-top: 40vh;
	
}